body{
    margin: 0;
    font-family: Nunito Sans, serif;
}

*{
    box-sizing: border-box;
}

.title{
    font-weight: 800;
}

.header-container{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding-inline: 24px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}